---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"

import { getLang } from '../i18n/utils';
const lang = getLang();
---


<!DOCTYPE html>
<html lang={lang} class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- HTML Meta Tags -->
		<title>Invntio - Unleash your business potential</title>
		<meta name="description" content="Unlock new possibilities and achieve extraordinary results with software designed to empower your team and fuel your growth" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://invntio.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Invntio - Unleash your business potential" />
		<meta property="og:description" content="Unlock new possibilities and achieve extraordinary results with software designed to empower your team and fuel your growth" />
		<!--
		You can generate this image URL dynamically: https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/{site_text}/{title_text}/{image_url}/og.png
		Replace the variables in the brackets with your own values and use this URL in the image tag below this comment. Ensure values are URL encoded.
		For more information, read: https://www.opengraph.xyz/blog/how-to-implement-dynamic-open-graph-images
		-->
		<meta property="og:image" content="/images/preview.png" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="/images/preview.png" />
		<meta property="twitter:domain" content="invntio.com" />
		<meta property="twitter:url" content="https://invntio.com" />
		<meta name="twitter:title" content="Invntio - Unleash your business potential" />
		<meta name="twitter:description" content="Unlock new possibilities and achieve extraordinary results with software designed to empower your team and fuel your growth" />
		<meta name="twitter:image" content="/images/preview.png" />

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">
		<meta name="keywords" content="invntio, business, startup, software, project, consulting, potential">
		<meta name="robots" content="index, follow">
		<meta name="copyright" content="Invntio" />

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-black">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Poppins, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>